body {
    background-image: url(./PATINHAS\ EM\ BUSCA\ DE\ UM\ LAR\ \(1\)\ 1.png);
    background-size: 100%;
}

.imgca {
    width: 15%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(134, 105, 61);
}

.Objetivo{ 
    display: flex-wrap;
    margin: 30px;
    background-color: bisque;
    padding: 30px;
    border: 3px solid black;
    font-size: 120%;

}

.intro {
    display: flex;
    margin: 30px;
    background-color: rgb(241, 226, 91);
    padding: 30px;
    border: 3px solid black;
    font-size: 120%;
}

.bob {
    width: 15%;
}

#equipe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: rgb(218, 179, 80);
    border: 3px solid black;
}

.Ju {
    width: 30%;
}
header a{
    color: black;
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(134, 105, 61);
}