body {
    background-image: url(./PATINHAS\ EM\ BUSCA\ DE\ UM\ LAR\ \(1\)\ 1.png);

}

.imgca {
    width: 15%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid black;
}

.intro {
    display: flex;
    margin: 30px;
    background-color: bisque;
    padding: 30px;
    border: 3px solid black;
}

.bob {
    width: 15%;
}

#equipe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background-color: darkgoldenrod;
    border: 3px solid black;
    width: 100%;
}

.Ju {
    width: 30%;
}
header a{
    color: black;
    text-decoration: none;
}