body{
    background-color: aquamarine;

}
img{   
    width: 20%;
}
header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;}
.img-secao{
    width: 25%;
}
.intro{
    display: flex;
}